.app-container {
  min-height: 100vh;
  padding: 32px 48px;
  font-family: 'Roboto';
  background-color: #161624;
}

.heading {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 16px;
  color: #ffffff;
}

.countries-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 40px 0;
  border-radius: 10px;
  border: 1px solid #334155;
  max-height: 320px;
  overflow-y: auto;
}

.visited-countries-list {
  list-style-type: none;
  display: flex;
  padding: 0;
}


.no-visit-countries-view {
  display: flex;
  justify-content: center;
  
}

.no-visited-countries {
  font-size: 24px;
  color: #f1f5f9;
}